.App {
  display: flex;
  align-items: center;
  justify-content: center;

  /* centralises things */
  flex-direction: column; 
}

input {
  margin: 10px;
}

.task{
  font-size: 10px;
  width: 300px;
  height: 100px;
  border: 1px solid black;
  text-align: center;
  margin-top: 10px;
}
